accelerate
diffusers>=0.11.0
transformers>=4.25.1
scipy
ftfy
fire
wandb
safetensors
opencv-python
torchvision
mediapipe
einops
fonts
pyrallis
torchmetrics
huggingface-hub
pillow==9.0.0
folium==0.9.1
scikit-image==0.19.2 
git+https://github.com/energy-based-model/Compositional-Visual-Generation-with-Composable-Diffusion-Models-PyTorch.git@dev
git+https://github.com/openai/glide-text2im